@charset "utf-8";
/* CSS Document */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins';
	scroll-behavior: smooth;
	
}
body
{
	
	min-height: 100vh;
	overflow-x: hidden;
	background: #FFFFFF;
	
}
section{
	min-height: 100vh;
	padding: -1rem 9% 2rem;
	margin: 0 auto;
	 
}
header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 90px;
	padding: 20px 70px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	z-index: 100;
	position: fixed;
	background:#FFFFFF;
	box-shadow: solid 50px;
	transition: 0.6s ease;
	box-shadow: 0px .5px 3px 0px gray; 
	
	
}
.logo
{
	pointer-events: none;
	
}
.logo img
{
	width: 200px;
	height: 80px;
	display: flex;
	padding: -10px;
	justify-content: center;
	position: relative;
	padding-bottom:10px;
	margin-left: 50px;	
	padding-top: 10px;
}
.navbar
{
	margin-left: 400px;
}
.navbar a
{
	text-decoration: none;
	color:#009F6B;
	padding: 6px 15px;
	font-size: 17px;
	margin: 0 10px;
	font-weight: bolder;
	margin-left: 10px;
	
	
}
.navbar a:hover
{
	border-bottom: 3px solid #FFD600;
}
.vicky
{
	position: relative;
	display: flex;
	background:#F0F0F0;
	align-items: center;
	 
	height: 750px;
} 
.opacity
{
	background:#FFFFFF;
}

.opacity img
{
	
	width: 400px;
	height: 400px;
	position: absolute;
	top: 200px;
	float: right;
	overflow: hidden;
	margin: 0 auto;
	margin-left: 800px;
	border-radius: 600px;
	border: 3px solid #FFDD00;
	
}

.vicky #text
{
	position: absolute;
	font-size: 2.5em;
	color:#000000;
	padding-left: 50px;
	top: 200px;
	border-left: 2px solid #FFFD00;
	margin-left: 120px;
	padding-bottom: 200px;
	padding-top: 50px;
}
#text #fsis
{
	font-size: 1.3em;
	color:#FFC600;
	font-weight: bold;
}
.vicky .bio
{
	font-size: 18px;
	color:#000000;
	display: flex;
	display: inline-block;
	margin-left: 170px;
	position: absolute;
	margin-top: 80px;
	font-weight: 100;
}


.abc
{
	font-size: 30px;
	color:#000000;
	font-weight: 100;
}


.home-content
{
	display: flex;
	display: inline-block;
    float:right;
}
.btn
{
	width: 150px;
	height: 40px;
	margin-top: 390px;
text-decoration: none;
	margin-left: 170px;
	border-radius: 10px;
	position: absolute;
	border: 2px solid #FFC600;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	padding: 7px 0px 5px 20px;
	color: black;
	
}
.btn:hover
{
	background: #FFC600;
	transition: 0.5s ease;
	cursor: pointer;

}
.socialmedia
{
	position: absolute;
	margin-top: 100px;
	margin-left: 30px;
}
.socialmedia a
{
	position: relative;
	display: inline-flex;
	text-decoration: none;
	justify-content:center;
	align-items: center;
	border-radius: 25px;
	font-size: 25px;
	width: 2.5rem;
	height: 2.5rem;
	color:black; 
	margin-left: 20px;
	background :#EDEDED;
		
	border: 2px solid #C8A800;

}
.socialmedia :hover
{
	background:#C8A800;
    color: white;
}
.projects
{
	margin-top: 100px;
	width: 100%;
	align-items: center;
	background: #F0F0F0;	
}
.pera
{
	position: absolute;
	margin-left: 200px;
	text-align: center;
}
.atec
{
	font-size: 35px;
	text-align: center;
	font-weight: bold;
	padding: 10px;
	margin-top: 100px;
	color:#009262;
	position: relative;

}
.projects .project-list
{
	display: inline-block;
	margin: 0 auto;
	margin-top: 150px;
	position: relative;
}
 #boxie1
{
	width: 300px;
	height:300px;
	margin: 0 auto;
	display: inline-block;
	margin-left: 200px;
	border-radius: 10px;
	cursor: pointer;
	
}

#boxie1 img
{
	width: 300px;
	height: 300px;
	border-radius: 10px;
}
#boxie1:hover img 
{
	padding: 5px;
	overflow: hidden;
	transition: 0.5s ease;
	border-radius: 10px;
	
	
}

 #boxie2
{
	width: 300px;
	height:300px;
	margin: 0 auto;
	display: inline-block;
	margin-left: 30px;
	border-radius: 10px;
	cursor: pointer;
}
#boxie2 img
{
	width: 300px;
	height: 300px;
	border-radius: 10px;
}
#boxie2:hover img
{
	padding: 5px;
	overflow: hidden;
	transition: 0.5s ease;
}
 #boxie3
{
	width: 300px;
	height:300px;
	margin: 0 auto;
	display: inline-block;
	margin-left: 30px;
	border-radius: 10px;
	cursor: pointer;
}
 #boxie3 img
{
	width: 300px;
	height: 300px;
	border-radius: 10px;
}
#boxie3:hover img
{
	padding: 5px;
	overflow: hidden;
	transition: 0.5s ease;
}
 #boxie4
{
	width: 300px;
	height:300px;
	margin: 0 auto;
	display: inline-block;
	margin-left: 350px;
	border-radius: 10px;
	margin-top: 50px;
	cursor: pointer;
	
}
#boxie4 img
{
	width: 300px;
	height: 300px;
	border-radius: 10px;
	
}
#boxie4:hover img
{
	padding: 5px;
	overflow: hidden;
	transition: 0.5s ease;
		
}
 #boxie5
{
	width: 300px;
	height:300px;
	margin: 0 auto;
	display: inline-block;
	margin-left: 30px;
	border-radius: 10px;
	margin-top: 50px;
	cursor: pointer;
	
}
#boxie5 img
{
	width: 300px;
	height: 300px;
	border-radius: 10px;
	
}
#boxie5:hover img
{
	padding: 5px;
	overflow: hidden;
	transition: 0.5s ease;		
}
.pera
{
	text-align: center;
	margin-top: 10px;
	font-size: 20px;
}


.aboutme
{
	background:#F0F0F0;
	height: 800px;
	margin-top: 100px;
	
}
.aboutme img
{
	width: 100%;
	position: absolute;
	height: 800px;
	
}
.about
{
	text-align: center;
    align-items: center;
	font-weight: bold;
	padding: 50px;
	margin-top: 60px;
    font-size: 35px;
	position: relative;
	color:#009262;
	
	
}
.school
{
	font-size: 25px;
	color:#FFDD00;
	padding: 10px;	
	margin-left: 50px;
	font-weight: bold;
	border: 2px solid #00AA7D;	
	padding: 20px;
	align-items: center;
	margin-right: 100px;
	position: relative;
	padding-left: 50px;
	border-radius: 15px;	
}
.school span
{
	font-size: 15px;
}
span
{
	font-size: 20px;
	color: #000000 ;	
	align-items: center;
}
.college
{
	font-size: 25px;
	color:#FFDD00;
	padding-top: 20px;
	margin-left: 50px;
	font-weight: bold;
	border: 2px solid #00AA7D;
	margin-right: 100px;
	position: relative;
	padding-left: 50px;
	margin-top: 30px;
	border-radius: 15px;
	padding-bottom: 20px;
	padding-right: 20px;	
}
.college span
{
	font-size: 15px;
}
.clgname
{
	font-size: 20px;
	color:#000000;
}
.course
{
	font-size: 25px;
	color:#FFDD00;
	border-radius: 15px;
   margin-left:50px;
	margin-right: 100px;
	font-weight: bold;
	position: relative;
	border: 2px solid #00AA7D;
	padding-left: 50px;
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	
}
.course span
{
	font-size: 15px;
}
.education
{
	
	margin: 0 auto;
	padding-left: 0px;
	padding-right:0px;
	float: left;
	padding-bottom: 50px;
	margin-left: 100px;
	border-left: 3px solid #000000;
	position: relative;
	
	
}
.clgrot
{
	opacity: 80%;
	font-size: 20px;
	position: absolute;
	transform: rotate(-90deg);
	margin-top: 80px;
	margin-left: 1px;
	border-bottom: 3px solid #C8A800;
	color: #000000;
	
}
.scrot
{
	opacity: 80%;
	font-size: 20px;
    transform: rotate(-90deg);
	position: absolute;
	margin-top: 60px;
	margin-left: -3px;
	border-bottom: 3px solid #C8A800;
	color: #000000;
	
}
.corset
{
	opacity: 80%;
	font-size: 20px;
    transform: rotate(-90deg);
	position: absolute;
	margin-top: 90px;
	margin-left: 4px;
	border-bottom: 3px solid #C8A800;
	color: #000000;
}
.contact
{
 background: #000000;
	height: 700px;
}

.contact
{
	text-align: center;
	margin-top: 100px;
	font-size: 30px;
	color:#009262;
	position: relative;
	align-items: center;
	

}
.contact h1{
	margin-bottom: 3rem;
	position: absolute;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0 auto;
	text-align: center;
	margin-left: 40%;
	color:#FFED00;
	
	
}
.contact .talk
{
	font-size: 50px;
	margin-right: 680px;
	position: absolute;
	margin-top: 300px;
	transform: rotate(-90deg);
	float: left;
	display: flex;
	color: #FFED00;
	
}
.contact form{
	max-width: 50rem;
	margin: 1rem auto;
	text-align: center;
	margin-bottom: 2rem;
	float: left;
	position: relative;
	margin-left: 150px;
	border-left: 3px solid  #FFDD00;
	padding: 20px 10px 0px 50px;
	margin-top: 100px;
	
	
	
}
.contact form .input-box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
	width: 100%;
	padding: .5rem;
	font-size: 1rem;
	color: black;
	background:#DDDDDD;
	border-radius: .5rem;
	margin: .5rem 0;
	border-color: #C8A800;
	border-style: none; 
	position: relative;
	
}
.contact form .input-box input{
	width: 49%;
}
.contact form textarea{
	resize: none;
}
.contact form .btn
{
	margin-top: 2rem;
	background: #C8A800;
	cursor: pointer;
	color: white;
	padding: 10px 50px 10px 50px;
	border-radius: 20px;
	font-size: 15px;
		border-style: none; 
}


.contact img
{
	width: 100%;
	height: 700px;
	position: absolute;
	display: flex;
	opacity: 30%;
	margin-top: 0px;
}

.skills-bar
{
	width: 500px;
	border-left:2px solid #000000;
	float: right;
	position: relative;
	margin-right: 50px;
	padding-top: 0px;
	margin-top: 20px;
	
}
.skills-bar .bar
{
	padding: 16px;
	margin: 0 auto;
}
.skills-bar .bar .info span
{
	color: #000000;
	margin: 0 auto;
}
.skills-bar .bar .progress-line
{
	height: 10px;
	width: 90%;
	background: #B8B8B8;
	border-radius: 15px;
	position: relative;
	
}
.bar .progress-line .first
{
	height: 100%;
	width: 65%;
	background: #FFF500;
	position: absolute;
	border-radius: 15px;
	box-shadow: inset 0px 2px 1px rgba(0,0,0,0,05); 
	animation: progress 0.4s ease-in-out forwards;
	
}
.bar .progress-line .sec
{
	height: 100%;
	width: 65%;
	background: #FFF500;
	position: absolute;
	border-radius: 15px;
	box-shadow: inset 0px 2px 1px rgba(0,0,0,0,05); 
	animation: progress 0.4s ease-in-out forwards;
	
}
.bar .progress-line .thir
{
	height: 100%;
	width: 70%;
	background: #FFF500;
	position: absolute;
	border-radius: 15px;
	box-shadow: inset 0px 2px 1px rgba(0,0,0,0,05); 
	animation: progress 0.4s ease-in-out forwards;
	
}
.bar .progress-line .four
{
	height: 100%;
	width: 70%;
	background: #FFF500;
	position: absolute;
	border-radius: 15px;
	box-shadow: inset 0px 2px 1px rgba(0,0,0,0,05); 
	animation: progress 0.4s ease-in-out forwards;
	
}
.bar .progress-line .fifth
{
	height: 100%;
	width: 60%;
	background: #FFF500;
	position: absolute;
	border-radius: 15px;
	box-shadow: inset 0px 2px 1px rgba(0,0,0,0,05); 
	animation: progress 0.4s ease-in-out forwards;
	
}
.bar .progress-line .six
{
	height: 100%;
	width: 55%;
	background: #FFF500;
	position: absolute;
	border-radius: 15px;
	box-shadow: inset 0px 2px 1px rgba(0,0,0,0,05); 
	animation: progress 0.4s ease-in-out forwards;
	
}
.bar .progress-line .sev
{
	height: 100%;
	width: 50%;
	background: #FFF500;
	position: absolute;
	border-radius: 15px;
	box-shadow: inset 0px 2px 1px rgba(0,0,0,0,05); 
	animation: progress 0.4s ease-in-out forwards;
	
}

.bar h1
{
	float: right;
	top: 0;
	
	padding-top: -10px;
	color:#99FF00;
	margin-right: 50px;
	display: flex;
	font-size: 15px;
	
}
#menu
{
   font-size: 30px;
	display: none;
}
footer
{
	position: relative;
	bottom: 0px;
	background: black;
	height: 60px;
}
.center p
{
	top: 20px;
	margin-left: 33%;
	color: white;
	position: absolute;
}

@media only screen and (max-width:1284px){
    .header, .vicky, .aboutme, .projects, .contact{
        padding: 2% 5%;
    }
@media only screen and (max-width: 768px) {
  header {
    padding: 20px;
  }
  
  .logo img {
    width: 150px;
    height: 60px;
  }
  
  
  .projects .project-list {
    margin-top: 100px;
    text-align: center;
  }
  
  #boxie1,
  #boxie2,
  #boxie3,
  #boxie4,
  #boxie5 {
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 0;
  }
	.pera
	{
		font-size: 15px;
		margin-left: 5px;
		text-align: center;
	}
  
  .aboutme {
    height: auto;
    padding-bottom: 50px;
  }
  
  .aboutme img {
    height: auto;
  }
  
  .education {
    padding-left: 0;
    padding-right: 0;
    float: none;
    margin-left: 0;
    border-left: none;
    margin-top: 20px;
  }
	.contact .talk
	{
		font-size: 40px;
		display: block;
		width: 200px;
	}
  
  .skills-bar {
    width: 100%;
    margin-right: 0;
  }
	.contact form{
	max-width: 40rem;
	margin: 1rem auto;
	text-align: center;
	margin-bottom: 2rem;
	
	position: relative;
	margin-left: 150px;
	border-left: 3px solid  #FFDD00;
	padding: 20px 10px 0px 50px;
	margin-top: 100px;
}
	.contact form .input-box{
	
	
	flex-wrap: wrap;
}
}


@media only screen and (max-width: 768px) {
  .contact {
    height: auto;
  }

  .contact h1 {
    margin-left: 0;
  }

  .contact .talk {
    font-size: 30px;
    margin-right: 0;
    margin-top: 0;
    transform: none;
    float: none;
    display: block;
  }

  .contact form {
    margin-left: 0;
    border-left: none;
    padding: 20px;
  }

  .contact form .input-box input,
  .contact form textarea {
    width: 100%;
  }

  .contact form .input-box input {
    width: 100%;
  }

  .contact img {
    height: auto;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 768px) {
  header {
    padding: 10px 20px;
  }

  .logo img {
    width: 150px;
    height: 60px;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .vicky {
    height:1000px;
    flex-direction: column;
    align-items: center;
  }

  .opacity img {
    width: 280px;
    height: 280px;
    margin: 0;
    margin-bottom: 50px;
    margin-top: 5px;
    border-radius: 50%;
    border: 3px solid #FFDD00;
    float: none;
	  margin-left: -120px;
  }

  .home-content #text {
    position: absolute;
    padding: 20px;
    margin-left: 35px;
    text-align: center;
	  margin-top: 300px;
	  font-size: 35px;
	  border-left: none;
	  border-bottom: 2px solid #FFD600;
  
  }

  .vicky .bio {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
	  margin-top: 250px;
  }

  .home-content {
    float: left;
	  margin-left: -400px;
	 
	  margin-top: 500px;
  }

  button {
    margin-top: 900px;
    margin-left: 40px;
  }

  .socialmedia {
    margin-top: 200px;
    margin-left: -400px;
  }	
	.education
	{
		margin-left: 10px;	
		width: 500px;
	}
	.school
	{
		font-size: 20px;
	}
	.school span
	{
		font-size: 13px;
	}
	.college
	{
		font-size: 20px;
	}
	.course
	{
		font-size: 20px;
	}
	
	.navbar
	{
		display: flex;
        flex-direction: column;
        position: absolute;
        top: -700px;
        background-color:teal;
        left: -400px;
        width: 550px;
        transition: 0.3s ease;
		
	}
	.navbar.responsive{
        top: 96px;
		
    }
	.navbar a{
        display: block;
        margin: .5rem 0;
		padding-left: 200px;
		color: whitesmoke;
		
    }
	.navbar a:hover
	{
		background: white;
		color: #000000;
		border: none;
	}
	.header
	{
		position: absolute;
	}

	.contact .heading
	{
		margin-left: 110px;
	}
	.contact .talk
	{
		margin-left: 110px;
		margin-top: 70px;
	}
	.contact img
	{
		display: none;
	
	}
	.contact
	{
		background: #3A3A3A;
	}
	 #menu{ 
    display: block;
    margin-right: 10px;
	 margin-left: 250px;
    cursor: pointer;
	font-size: 30px;;
  }
  .center
  {
    font-size: 10px;
	margin-top: 180px;
  }
  .center p
  {
	  margin-left: 105px;
  }
  .aboutme
  {
	  height: 1400px;
  }
}